<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{ dialogTitle }}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="advanceTableForm" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-4">
          <mat-form-field class="example-full-width" appearance="outline" subscriptSizing="dynamic">
            <mat-label>Prenom</mat-label>
            <input matInput formControlName="first_name" [readonly]="true">
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-4">
          <mat-form-field class="example-full-width" appearance="outline" subscriptSizing="dynamic">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="last_name" [readonly]="true">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-4">
          <mat-form-field class="example-full-width" appearance="outline" subscriptSizing="dynamic">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required [readonly]="true">
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-4">
          <mat-form-field class="example-full-width" appearance="outline" subscriptSizing="dynamic">
            <mat-label>Téléphone</mat-label>
            <input matInput formControlName="phone_number" type="number" [readonly]="true">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
          <mat-form-field class="example-full-width" appearance="outline" subscriptSizing="dynamic">
            <mat-label>Pays</mat-label>
            <input matInput formControlName="pays_iso_2" [readonly]="true">
          </mat-form-field>
        </div>
      </div>
      <div class="row" style="border-bottom: 2px solid;">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
          <figure class="max-w-lg">
            <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Recto</figcaption>
            <img class="img-fluid w-100 rounded-lg" src="{{ advanceTable.recto }}" alt="Image recto">
          </figure>
        </div>
      </div>
      <div class="row" style="border-bottom: 2px solid;">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
          <figure class="max-w-lg">
            <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Verso</figcaption>
            <img class="img-fluid w-100 rounded-lg" src="{{ advanceTable.verso }}" alt="Image verso">
          </figure>
        </div>
      </div>
      <div class="row" style="margin-bottom: 2px">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
          <figure class="max-w-lg">
            <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Profil</figcaption>
            <img class="img-fluid w-100 rounded-lg" src="{{ advanceTable.profil }}" alt="Image profil">
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [disabled]="!advanceTableForm.valid" [mat-dialog-close]="1"
                    (click)="confirmAdd()">Valider
            </button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Rejeter</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
