.max-w-lg {
    max-width: 100%; /* Permet aux images de s'adapter à la largeur de leur conteneur */
    height: auto;   /* Maintient le ratio d'aspect */
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  figure {
    margin: 0;
    text-align: center;
  }
  
