<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          {{ dialogTitle }}
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form" [formGroup]="advanceTableForm" (ngSubmit)="submit()">
      <div class="form-row">
        <div class="form-group">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Prenom</mat-label>
            <input matInput formControlName="first_name" [readonly]="true">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="last_name" [readonly]="true">
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required [readonly]="true">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Téléphone</mat-label>
            <input matInput formControlName="phone_number" type="number" [readonly]="true">
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Pays</mat-label>
            <input matInput formControlName="pays_iso_2" [readonly]="true">
          </mat-form-field>
        </div>
      </div>
      <div class="image-gallery">
        <div class="image-item">
          <figcaption>Recto</figcaption>
          <img [src]="advanceTable.recto" alt="Image recto">
        </div>
        <div class="image-item">
          <figcaption>Verso</figcaption>
          <img [src]="advanceTable.verso" alt="Image verso">
        </div>
        <div class="image-item">
          <figcaption>Profil</figcaption>
          <img [src]="advanceTable.profil" alt="Image profil">
        </div>
      </div>
      <div class="button-group">
        <button mat-raised-button color="primary" [disabled]="!advanceTableForm.valid" (click)="confirmAdd()">Valider</button>
        <button mat-raised-button color="warn" (click)="onNoClick()">Rejeter</button>
      </div>
    </form>
  </div>
</div>
